<!DOCTYPE HTML>
<html>
	<head>
		<title>Instagram</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="{{url_for('static',filename='images/pfff.jpg')}}" alt="" /></span>

            <h1>Ahmad Qawasmi</h1>
            <br>
            <!-- About me button -->
            <a href="#"><button style="color:white;width:40%" >More about me</button></a>
            <!--  -->
            <br> <br>
						<ul class="icons">
							<li><a href="https://twitter.com/AhmadQa20545570" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/profile.php?id=100012414847356" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/ahmad._.qawasmi8/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
                
                <div>
                      <a href="">
                        <img src="{{url_for('static',filename='images/thumbs/02.jpg')}}" alt="" />
                        <h3>i love pineapple with pizza</h3>
                      </a>
                
                      <a href="">
                        <img src="{{url_for('static',filename='images/05.jpg')}}" alt="" />
                        <h3>...</h3>
                      </a>
                </div>    
                <div>
                  <a href="">
                        <img src="{{url_for('static',filename='images/thumbs/03.jpg')}}" alt="" />
                        <h3>to USA</h3>
                      </a>

                </div>  
                   			{% for postt in postts%}
                      <div>
                      <a href="">
                        <img src="{{postt}}" alt="" />
                        <h3>{{posts[postt]}}</h3>
                      </a>
                      </div>
                        {% endfor %}   

							</section>

					</section>

				<!-- Footer -->
					<footer id="footer">
						<p>&copy; MEET's (fake) Instagram. No rights reserved. 
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
			<script src="static/js/jquery.poptrox.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>